<!DOCTYPE html>
<html>
<head>
    <title>Test Cart Form</title>
</head>
<body>
    <h1>Test Cart Form</h1>
    
    <form method="post" action="/add-to-cart/31/">
        {% csrf_token %}
        <input type="hidden" name="size" value="8">
        <input type="hidden" name="quantity" value="1">
        <button type="submit">Add to Cart (Product ID 31 - Men's Casual Sneakers)</button>
    </form>
    
    <br>
    
    <form method="post" action="/add-to-cart/33/">
        {% csrf_token %}
        <input type="hidden" name="size" value="9">
        <input type="hidden" name="quantity" value="2">
        <button type="submit">Add to Cart (Product ID 33 - Men's Dress Shoes)</button>
    </form>
    
    <br>
    <a href="/cart/">View Cart</a>
</body>
</html> 